.donutChart {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xl);

  > * {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .chart {
    svg {
      margin: auto;
      max-width: inherit;
      max-height: inherit;
      aspect-ratio: 1 / 1;
    }
  }

  .chartText {
    text-anchor: middle;
  }
}
